<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_size"
        android:label="@string/appname"
        android:roundIcon="@drawable/logo_size"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangeProfileActivity"></activity>
        <activity android:name=".GetStartedActivity" />
        <activity android:name=".SlideActivity" />
        <activity android:name=".PhoneActivity" />
        <activity android:name=".OtpLoadScreenActivity" />
        <activity android:name=".OtpActicity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadScreenActivity" />
        <activity android:name=".ContacUsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ConversationActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>